<!-- Navbar Component -->
<nav class="navbar">
  <a class="logo" id="home-link">ROB</a>
  <div class="nav-controls">
    <div class="nav-links">
      <a href="#" class="nav-link" id="resume-link">Resume</a>
      <a href="#" class="nav-link" id="projects-link">Projects</a>
      <a href="#" class="nav-link" id="reading-link">Reading</a>
      <a href="#" class="nav-link" id="comments-link">Comments</a>
      <button id="admin-button" class="admin-nav-button" title="Admin Access">Admin</button>
    </div>
  </div>
</nav> 